<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hack Day 2016</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css"/>
    <style>
        body {
            background-image: url(https://unsplash.it/1920/1080?random);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;
        }
    </style>
</head>
<body>
<div id="app"></div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery.soap.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script type="text/javascript" src="lib/main.js"></script>
<script type="x-template" id="app-tpl">
    <div class="app-main">
        <div class="container">
            <form action="" class="col-md-4 col-md-offset-4" style="margin-top: 200px;">
                <div class="form-group">
                    <label for="exampleInputEmail1">Check Type</label>
                    <select type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" v-model="checkType" @change="doCheck">
                        <option value="-1" checked>请选择</option>
                        <option v-for="opt in opts" value="{{opt.key}}">{{opt.label}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</script>
</html>